.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1{
  color: #669999;
  font-weight: bold;
  /* text-shadow: 1px 10px 20px rgba(0, 0, 0, 0.24) ; */
}